.mainContainer{
    position:absolute;
    top: 20%;
    left: 20%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}
.title{

    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--text-white-100);
}
.coffeeStoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: ellipsis

}
.titleWrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.coffeeInfoBox{
    height: 180px;
    width: 360px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
}
.imageWrapper{
    padding:  2rem 4rem;
}
.storeImage{
    border-radius: 20px;
}
.addressWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0.5rem 1rem;
    gap: 12px;
    height: 33%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.addressText{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-purple-dark);
    line-height: 2rem;
}
.ratingWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding:0.5rem 1rem;
    align-items: center;
    gap: 12px;
    height: 33%;
    text-overflow: ellipsis;
    overflow: hidden;    

}
.ratingText{

    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-purple-dark);
    line-height: 2rem;
}


.upVoteButton{
    background-color: var(--text-purple-dark);
    cursor: pointer;
    color: white;
    outline: 0;
    border: 1px solid white;
    width: 50% ;
    text-align: center;
    padding-top: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
}